DB_URI='mongodb+srv://linax165234:Qzaswx123@twitter-clone.wtqfqpq.mongodb.net/?retryWrites=true&w=majority&appName=Twitter-Clone'
DB_NAME='twitter-dev'
DB_USERS_COLLECTION='users'
DB_REFRESH_TOKENS_COLLECTION='refresh_tokens'
HASH_PASSWORD_SECRET_KEY="twitter-165234-secret-password-#@@$!#"
SIGN_ACCESS_TOKEN_SECRET_KEY="twitter-165234-secret-sign-access-token-#@@$!#"
SIGN_REFRESH_TOKEN_SECRET_KEY="twitter-165234-secret-sign-refresh-token-#@@$!#"
SIGN_EMAIL_VERIFY_TOKEN_SECRET_KEY="twitter-165234-secret-sign-email-verify-token-#@@$!#"
SIGN_FORGOT_PASSWORD_TOKEN_SECRET_KEY="twitter-165234-secret-sign-forgot-password-token-#@@$!#"
# Nếu giá trị là số thì sẽ tính theo giây
# Còn string thì phải thêm các kí tự như 'm', 'h', 'd', 'w' ,...
# không thì mặc định nó sẽ là 'ms' 
ACCESS_TOKEN_EXPIRES_IN='15m'
REFRESH_TOKEN_EXPIRES_IN="100d"
EMAIL_VERIFY_TOKEN_EXPIRES_IN="10m"
FORGOT_PASSWORD_TOKEN_EXPIRES_IN="10m"